*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #050605;
    color: #dfd2db;
    font-family: 'Inter', sans-serif;
}
.section1{
    background-image: url("../Img\ Rolex\ Hd\ Wallpaper\ 16001067\ 239789\ HD\ Wallpaper\ Res\ 1600x1067.jpg");
   
    height: 100vh;
  background-size: cover;
 position: relative;
}

.section2{
    width: 100%;

    overflow: auto;
    margin-bottom: 200px;
    background-color: #050605;
    color: #dfd2db;
}

.header{
    width: 100%;
    height : 60px;
    background-color: rgba(36, 33, 33,0.6);
    overflow: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
   
   
}

.logo{
    height: 60px;
    margin-left: 60px;
}
.list
{

    list-style-type: none;
    float:right ;
  margin-top: 15px;
  margin-right:150px ;
  text-decoration: none;
  
}
.list li{
display: inline-block;
padding-left: 70px;
font-size: 25px;

}
.list li a{
    text-decoration: none;
    color: rgb(209, 197, 197);
    
    }
    .list li a:hover{
        
        color: gold;
        
        }

    .s2h{
        text-align: center;
        margin-top:5% ;
        
    }
    .breaker{
        background-color: gold;
        width: 10%;
        height: 0.3%;
        margin: auto;
        
        margin-bottom: 50px;
    }
    .s2container{
       overflow: auto;
     width: 80%;
     padding-top: 10px;
     margin: auto;
     font-size: 15px;
   
    
       
        
    }
    .c1{
        width: 30%;
        
        float: left;
        
        
       
    }
    .c2{
        float: left;
        width: 30%;
        height: 45%;
      
        margin: 0 5%;
       
    }
    .c3{
        float: left;
        width: 30%;
        height: 45%;
        
    }
  
    .hh{
        text-align: center;
        margin-bottom: 5%;
    }
    .ic{
        font-size: 90px;
        line-height: 40px;
        display: block;
        margin-left: 40%;
        margin-top: 4%;
        margin-bottom: 10%;
        
    }
    .s2container p{
        text-align: center;
        font-size: 19px;
        margin-bottom: 50px;
    }
    .s2container a{
        margin-left: 40%;
        font-size: 20px;
        text-decoration: none;
        color: gold;
    }
  
    .section3{
        width: 100%;
        
        overflow: auto;
    
        
    }
    .section3 h1{
        margin-top: 10px;
    }
    .c1s2{
        width: 30%;
        height: 18%;
        float: left;
       
        position: relative;
        
        
      
       
    }
    .c2s2{
        width: 30%;
        height: 18%;
        float: left;
        
        margin:0 5%;
        position: relative;
       
    }
    .c3s2{
        width: 30%;
        height: 18%;
        float: left;
        
        position: relative;
       
    }
   .s3container{
    overflow: auto;
     width: 80%;
     margin: auto;
     margin-bottom: 40px;
     
   }
   .ic1{
    position: absolute;
    top: 20;
    left: 10;
    font-size: 50px;
   }
   .hh1{
   margin-left: 80px;
   margin-top: 20px;
   margin-bottom: 20px;

   }
   .s3container p{
    margin-left: 80px;
font-size: 20px;
   }
   .ic2{
    position: absolute;
    top: 20;
    left: 10;
    font-size: 50px;
   }
   .ic3{
    position: absolute;
    top: 20;
    left: 10;
    font-size: 50px;
   }
.containers4
{ 
    width:80%;
   
    margin-left: 10%;
    position: relative;
    
}
.contant{
 
    width:50%;
    margin-bottom:70px ;
}
.br2{
    background-color: #dfd2db;
    width: 10%;
    height: 0.3%;
   margin-top: 2%;
   margin-bottom: 3%;
}


.contant .o1{
 
    font-size: 18px;
   
    margin-right: 10px;
}
.contant i{
 
    font-size: 18px;
    margin-bottom: 6%;
    margin-right: 10px;
}
.dis{
    
    font-size: 20px;
    margin-bottom: 5%;
}
.photo{
   
    width: 300px;
    height: 80%;
   position: absolute;
   top: 0;
   left: 50%;
}
.cir1{
    background-color: gold;
    width: 20px;
    height: 20px;
    margin-left: 60%;
    
    
  position: absolute;
  margin-bottom: 100px;
  left: -80px;
  border-radius: 50%;
  margin-top: -445px;
    
}
.cir2{
  
    width: 20px;
    height: 20px;
    margin-left: 60%;
    left: -50px;
  position: absolute;
  margin-bottom: 100px;
  border-radius: 50%;
  background-color:#626061 ;
  margin-top: -445px;
    
    
}
.cir3{
   
    width: 20px;
    height: 20px;
    margin-left: 60%;
    border-radius: 50%;
    
  position: absolute;
  left: -20px;
  margin-top: -445px;
  background-color:#626061 ;
  top: auto;
 

    
    
}
.cir2:hover , .cir3:hover{
   background-color: rgba(231, 228, 7, 0.7);
}
.foote{
    width :100%;
    height:30% ;
    background-color: #000000;
   
}
.foot-img{
   display: block;
   margin: auto;
   padding-top: 20px;
   padding-bottom: 20px;
    
}
.footer-links li{
    display: inline-block;
    background-color: gold;
    width: 50px;
   margin-left: 10px;
 
    height: 50px;
    position: relative;
    z-index: 1;
    border-radius: 50%;
}
    

.footer-links{
   text-align: center;
   margin-left: -50px;
   margin-bottom: 20px;

}
.foote p{
    color: gold;
    text-align: center;
}
.foote i{
   display: block;
   padding-top: 15px;
   font-size: 20px;
   color: #000;
}
.containers5{
    width:80%;
    margin-left:10%;
   


}
.c1d{
    
    width: 30%;
    float: left;
    padding: 15px 30px;
    height: 52%;
    background-color: #0f0f0e;
  border-radius: 10px;
  position: relative;
}

.c1d h2,.c2d h2,.c3d h2{
    font-size: 23px;
    text-align: center;
}
.fimg{
    display: block;

margin: auto;
}
.datee {
    display: inline-block;
   margin-top: 19px;
}
.D1{
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 20px;
}
.z1 {
    margin-left: 10px;
}
.hs5{
   margin-bottom:  20px
}
.l5{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.c2d{
  
    width: 30%;
    float: left; 
    margin:0 5%;
    padding: 15px 30px;
    height: 52%;
    background-color: #0f0f0e;
    border-radius: 10px;
    position: relative;
}
.c3d{
 
    width: 30%;
    float: left;
    padding: 15px 30px;
    height: 52%;
     background-color: #0f0f0e;
     border-radius: 10px;
     position: relative;
}
.section5{
    margin-bottom: 600px;
    background-color: #050605;
    color: #dfd2db;
}.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.content1{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.overlay-c{color: white;
    font-size: 50px;
    letter-spacing: 2px;
   

}
.overlay-dis{
    text-align: center;
    color: whitesmoke;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
.btn{
 display: inline-block;
   text-align: center;
 
  
   width: 150px;
   height: 50px;
   font-size: 20px;
   border-radius: 10px;
   border-style: none;
   text-transform: capitalize;
}
#btn{
    background-color: gold;
    color: black;
   margin-left: 20px;
    
}
.btn:hover{
    opacity: 0.8;
}
.team-section{
    width: 80%;
   margin: auto;
    overflow: auto;
}
.team-content{
    float:left;
    width: 30%;
    height: 500px;
   position: relative;
   padding: 20px;
   text-align: center;
   margin-bottom: 300px;
  
   background-color: #0f0f0e;
   border-radius: 10px;

}

.team-info p{
    font-size: 20px;
}
.team-seprator{
    margin: 0 5%;
}
.team-img{

width: 90%;
margin: auto;
position: relative;

}
.team-img img{
    background-size: cover;
    width: 100%;
}
.team-overlay{
    position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  

 
  transition: 0.5s;
  opacity: 0;
}
.team-overlay a{
    display: block;
   margin-left:auto ;
   width: 40px;
   height: 40px;
   color: gold;
   font-size: 20px;
   margin-left: auto;
}
.team-overlay a i{
    line-height: 40px;
}
.team-section h2{
    text-transform: capitalize;
    padding: 12px 0px;
}
.team-content:hover p,.team-content:hover h2{
    color: gold;
}
.team-content:hover .team-overlay {
    
    opacity: 1;
}
.team-content::after{
    position: absolute;
content: "";
width: 100%;
height: 0%;
top:0;
left:0;
background-color: #646363;
opacity: 0;
transition: 0.5s;
}
.team-content:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
.c1s2::after{
position: absolute;
content: "";
width: 0%;
height: 0%;
top:0;
left:0;
background-color: #000000;
opacity: 0;
transition: 0.5s;

}
.c1s2:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.3;
    
}
.c1s2:hover{color: gold; ;
  

}
.c2s2::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    top:0;
    left:0;
    background-color: #000000;;
    opacity: 0;
    transition: 0.5s;
    }
    .c2s2:hover::after{
        width: 100%;
        height: 100%;
        opacity: 0.3;
        
    }
    .c2s2:hover{color: gold; ;
  

    }
    .c3s2::after{
        position: absolute;
        content: "";
        width: 0%;
        height: 0%;
        top:0;
        left:0;
        background-color: #000000;
        opacity: 0;
        transition: 0.5s;
        }
        .c3s2:hover::after{
            width: 100%;
            height: 100%;
            opacity: 0.3;
        }
        .c3s2:hover{color: gold; 
           
  

        }

h1,h2{
    font-family: 'Walbaum Com', sans-serif;
}

a{
    color: gold;
    text-decoration: none;
}
.c1d::after{
    position: absolute;
content: "";
width: 100%;
height: 0%;
top:0;
left:0;
background-color: #646363;
opacity: 0;
transition: 0.5s;
}
.c1d:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
.c2d::after{
    position: absolute;
content: "";
width: 100%;
height: 0%;
top:0;
left:0;
background-color: #646363;
opacity: 0;
transition: 0.5s;
}
.c2d:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
.c3d::after{
    position: absolute;
content: "";
width: 100%;
height: 0%;
top:0;
left:0;
background-color: #646363;
opacity: 0;
transition: 0.5s;
}
.c3d:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
.c1d:hover .D1{
    color:gold
}
.c2d:hover .D1{
    color:gold
}
.c3d:hover .D1{
    color:gold
}